{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Segunda-feira</title>
    <link rel="stylesheet" href="{% static 'cardapio/cardapio-dia.css'%}">
</head>

<body>

    <main>

        <section class="segunda">
            <img src="{% static 'cardapio/assets/logo.jpeg'%}" alt="logo" class="logo">
            <h2>{{semana}}</h2>
            <h3>{{titulo}}</h3>

            <p>Lanche</p>
            <p>Descrição: {{descricao}}</p>
            

            <div class="botao-semana">
                <a href="/" class="link-botao">voltar</a>
            </div>

        </section>
        <section class="imagem">

        </section>
    </main>
</body>
<style>
    .imagem {
        background-image: url("{{imagem}}");
    }
</style>
</html>
