{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu da Semana</title>
    <link rel="stylesheet" href="{% static 'cardapio/style.css' %}">
</head>

<body>
    <header>

        <img src="{% static 'cardapio/assets/logo.jpeg' %}" alt="logo" class="logo">
        <div class="logo-wr">
            <h1>Escola Professor Willy Roos</h1>
            <h2>Cardápio Escolar</h2>

        </div>

        <div>
            
        </div>
        
    </header>
    <main>
        <h2>Selecione um Dia:</h2>
        <div class="botao-semana">
            <a href="segunda-feira/" class="link-botao">Segunda-feira</a>
        </div>
        <div class="botao-semana">
            <a href="terca-feira/" class="link-botao">Terça-feira</a>
        </div>
        <div class="botao-semana">
            <a href="quarta-feira/" class="link-botao">Quarta-feira</a>
        </div>
        <div class="botao-semana">
            <a href="quinta-feira/" class="link-botao">Quinta-feira</a>
        </div>
        <div class="botao-semana">
            <a href="sexta-feira/" class="link-botao">Sexta-feira</a>
        </div>
    </main>
    <footer>
        <p>2024 Escola Professor Willy Roos.</p>
        <p>By 302-WR</p>
    </footer>
</body>

</html>
